Repository likelion-kookmin/daedong-food-map, pull requests merged in 2021-08, with the labels that each got.

#21 Feature/0010 user authentication api
  backend/config/settings.py
  backend/config/urls.py
  backend/models.png
  backend/requirements.txt
  backend/templates/404.html
  backend/templates/500.html
  backend/templates/base.html
  backend/templates/mailers/activation.html
  backend/templates/main/index.html
  backend/templates/users/password_change.html
  backend/templates/users/signin.html
  backend/templates/users/signup.html
  backend/users/forms.py
  backend/users/migrations/0002_alter_user_is_active.py
  backend/users/models.py
  backend/users/tokens.py
  backend/users/urls.py
  backend/users/views.py
Labels: backend

#24 Feature/0015 place api#show
  backend/places/urls.py
  backend/places/views.py
Labels: backend

#27 feat: 사용자별 신고 목록 API 추가
  backend/config/urls.py
  backend/inquiries/admin.py
  backend/inquiries/serializers.py
  backend/inquiries/urls.py
  backend/inquiries/views.py
Labels: backend

#29 feat: report의 place에 place serializer 적용
  backend/reports/serializers.py
Labels: backend

#31 Feature/0011 reports api#new
  backend/places/views.py
  backend/reports/serializers.py
  backend/reports/urls.py
  backend/reports/views.py
  backend/requirements.txt
Labels: backend

#34 feat: report 수정 API 추가
  backend/reports/permissions.py
  backend/reports/urls.py
  backend/reports/views.py
Labels: backend

#37 feat: reports#destroy 삭제 API 추가
  backend/reports/urls.py
  backend/reports/views.py
Labels: backend

#50 feat: inquiries_api 추가
  backend/inquiries/permissions.py
  backend/inquiries/urls.py
  backend/inquiries/views.py
Labels: backend

#43 feat: reviews#show api 추가
  backend/reviews/serializers.py
  backend/reviews/urls.py
  backend/reviews/views.py
Labels: backend

#44 feat: review#new api 추가
  backend/reviews/serializers.py
  backend/reviews/urls.py
  backend/reviews/views.py
Labels: backend

#45 feat: reviews edit api 추가
  backend/reviews/permissions.py
  backend/reviews/urls.py
  backend/reviews/views.py
Labels: backend

#47 feat: reviews delete api 추가
  backend/reviews/urls.py
  backend/reviews/views.py
Labels: backend

#61 feat: Image 모델을 다대다 관계로 place와 엮음
  .isort.cfg
  backend/action_trackings/migrations/0001_initial.py
  backend/action_trackings/models.py
  backend/config/settings.py
  backend/file_managers/__init__.py
  backend/file_managers/admin.py
  backend/file_managers/apps.py
  backend/file_managers/migrations/0001_initial.py
  backend/file_managers/migrations/0002_auto_20210802_1933.py
  backend/file_managers/migrations/__init__.py
  backend/file_managers/models.py
  backend/file_managers/serializers.py
  backend/places/migrations/0003_place_images.py
  backend/places/models.py
  backend/places/serializers.py
Labels: backend

#64 feat: Bookmark ListView, Create 추가
  backend/bookmarks/admin.py
  backend/bookmarks/permissions.py
  backend/bookmarks/serializers.py
  backend/bookmarks/urls.py
  backend/bookmarks/views.py
  backend/config/urls.py
Labels: backend

#63 feat: places 검색 API 추가
  .isort.cfg
  backend/config/settings.py
  backend/places/models.py
  backend/places/views.py
  backend/requirements.txt
Labels: backend

#65 feat: place serializer 관련 read_only, write_only 분리 작업
  backend/bookmarks/serializers.py
  backend/inquiries/serializers.py
  backend/places/views.py
  backend/reviews/serializers.py
Labels: backend

#67 feat: bookmark retrieve api 추가
  backend/bookmarks/urls.py
  backend/bookmarks/views.py
Labels: backend

#68 feat: Bookmark destroy API 추가
  backend/bookmarks/urls.py
  backend/bookmarks/views.py
Labels: backend

#85 feat: report show Api 추가
  backend/bookmarks/views.py
  backend/reports/urls.py
  backend/reports/views.py
Labels: backend

#86 chore: branch merge issue fixed
  backend/bookmarks/urls.py
  backend/bookmarks/views.py
Labels: backend

#90 Feature/0066 로그인 API와 연결했습니다.
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/LoginForm.js
  frontend/src/config/api.config.js
  frontend/src/hooks/useInput.js
  frontend/src/pages/Home/home.jsx
  frontend/src/reducers/authentication.js
  frontend/src/reducers/index.js
  frontend/src/sagas/authentication.js
  frontend/src/sagas/index.js
  frontend/src/store/configureStore.js
  frontend/src/utils/produce.util.js
  frontend/yarn.lock
Labels: front, good first issue

#91 feat: place 목록 API 연결
  frontend/src/pages/Home/home.jsx
  frontend/src/reducers/index.js
  frontend/src/reducers/place.js
  frontend/src/sagas/index.js
  frontend/src/sagas/place.js
Labels: front

#93 0083 place detail api 연결
  frontend/src/pages/Home/home.jsx
  frontend/src/reducers/place.js
  frontend/src/sagas/place.js
Labels: front

#92 feat: bookmark serializer 에 user 값 추가
  .isort.cfg
  backend/places/serializers.py
  backend/users/serializers.py
Labels: backend

#95 feat: 리스트 API에 pagination 기능 추가
  backend/bookmarks/views.py
  backend/config/settings.py
  backend/inquiries/views.py
  backend/places/views.py
  backend/reports/views.py
  backend/reviews/views.py
Labels: backend

#96 Feature/0081 inquiries index api 추가 및 user token 활용 / 새로고침시에도 유저 정보가 localaStorage에 남도록 하기
  frontend/.eslintrc.json
  frontend/src/reducers/authentication.js
  frontend/src/reducers/index.js
  frontend/src/reducers/inquiry.js
  frontend/src/sagas/auth-header.js
  frontend/src/sagas/index.js
  frontend/src/sagas/inquiry.js
Labels: front

#98 feat: action tracking 에 필요한 model 생성
  backend/places/migrations/0006_place_view_count.py
  backend/places/models.py
  backend/users/migrations/0003_auto_20210804_1735.py
  backend/users/models.py
Labels: backend

#100 Feature/0087 nav바 기본 UI, sementic ui css 설정 추가
  frontend/.eslintrc.json
  frontend/package.json
  frontend/public/images/LogoTitle.png
  frontend/src/App.js
  frontend/src/components/Header/header.js
  frontend/src/components/Header/loginButton.js
  frontend/src/layouts/desktop.layout.js
  frontend/src/layouts/mobile.layout.js
  frontend/src/layouts/responsive.layout.js
  frontend/src/styles/styles.css
  frontend/src/utils/style.util.js
  frontend/yarn.lock
Labels: front

#108 feat: layout 상에 maxWidth 지정 and 로그인 폼 연결, react-router 적용
  frontend/src/App.js
  frontend/src/components/LoginForm.js
  frontend/src/layouts/desktop.layout.js
  frontend/src/layouts/mobile.layout.js
  frontend/src/pages/Home/home.jsx
  frontend/src/pages/Signin/signin.jsx
  frontend/src/pages/Signup/signup.jsx
  frontend/src/pages/index.js
  frontend/src/utils/style.util.js
Labels: front

#103 feat: report view count API 추가
  .isort.cfg
  backend/action_trackings/admin.py
  backend/action_trackings/apps.py
  backend/action_trackings/migrations/0002_auto_20210803_2221.py
  backend/action_trackings/migrations/0003_alter_actionpointrule_name.py
  backend/action_trackings/models.py
  backend/action_trackings/signals.py
  backend/places/serializers.py
  backend/users/serializers.py
Labels: backend

#107 feat: inquiry, review Action_tracking 추가
  backend/action_trackings/migrations/0004_alter_actionpointrule_name.py
  backend/action_trackings/migrations/0005_alter_actionpointrule_name.py
  backend/action_trackings/models.py
  backend/action_trackings/signals.py
  backend/inquiries/views.py
  backend/places/tests.py
  backend/reports/views.py
  backend/reviews/views.py
  backend/users/serializers.py
Labels: backend

#117 feat: place card 디자인/구현
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/src/components/Home/PlaceCard.js
  frontend/src/components/LoginForm.js
  frontend/src/layouts/mobile.layout.js
  frontend/src/pages/Home/home.jsx
  frontend/src/utils/style.util.js
Labels: front

#99 feat: reports #index api 연결
  frontend/src/reducers/index.js
  frontend/src/reducers/report.js
  frontend/src/sagas/index.js
  frontend/src/sagas/report.js
Labels: front

#120 feat: map api연동 및 코드리뷰반영
  backend/config/settings.py
  backend/file_managers/migrations/0003_auto_20210802_2302.py
  backend/file_managers/migrations/0004_merge_0003_auto_20210802_2302_0003_auto_20210803_0109.py
  backend/places/migrations/0004_alter_place_tags.py
  backend/places/migrations/0006_merge_0004_alter_place_tags_0005_alter_place_images.py
  backend/places/migrations/0007_merge_20210805_1132.py
  frontend/.prettierrc
  frontend/config/webpack.config.js
  frontend/package.json
  frontend/public/icons/떡볶이.png
  frontend/public/icons/붕어빵.png
  frontend/public/index.html
  frontend/src/components/Loading/loading.js
  frontend/src/components/Map/map.js
  frontend/src/components/Search/result.js
  frontend/src/components/Search/search.js
  frontend/src/pages/Home/home.jsx
  frontend/src/reducers/place.js
  frontend/src/sagas/place.js
  frontend/src/styles/loading.css
  frontend/src/styles/map.css
  frontend/yarn.lock
Labels: front

#124 feat: pagination 추가, 필요 없는 tracking 클래스 제거
  backend/action_trackings/models.py
  backend/config/pagination.py
  backend/config/settings.py
Labels: backend

#128 fixed: Place 의 User 문제 해결
  backend/places/serializers.py
Labels: backend

#130 feat: 글 조회 시 해당 place 의 viewcount +=1
  backend/places/views.py
Labels: backend

#135 feat: navbar 구현
  frontend/package.json
  frontend/src/App.js
  frontend/src/layouts/desktop.layout.js
  frontend/src/layouts/mobile.layout.js
  frontend/src/layouts/responsive.layout.js
  frontend/src/utils/style.util.js
  frontend/src/utils/window.util.js
  frontend/yarn.lock
Labels: front

#144 feat: pagination 추가
  frontend/src/components/Place/Pagination.jsx
  frontend/src/components/Place/PlaceCard.jsx
  frontend/src/components/Place/PlaceList.js
  frontend/src/components/Place/PlaceList.jsx
  frontend/src/sagas/place.js
  frontend/src/styles/styles.css
  yarn.lock
Labels: front

#146 로그인 폼 UI 개선 및 로그인 화면에서 에러 메세지 렌더링
  frontend/package.json
  frontend/src/components/LoginForm.js
  frontend/src/components/RegisterationForm.js
  frontend/src/reducers/place.js
  frontend/src/sagas/authentication.js
  yarn.lock
Labels: front

#147 loading시 css를 이용한 placeholder 적용
  frontend/src/components/Place/PlaceCard.jsx
  frontend/src/components/Place/PlaceList.jsx
  frontend/src/styles/styles.css
Labels: front

#155 feat: 회원가입 폼 연결
  frontend/src/components/LoginForm.js
  frontend/src/components/RegisterationForm.js
  frontend/src/components/RegistrationForm.js
  frontend/src/pages/Signup/signup.jsx
  frontend/src/reducers/authentication.js
  frontend/src/sagas/authentication.js
Labels: front

#180 fix: place img 3개 이상일 경우 예외처리
  frontend/src/components/Place/PlaceCard.jsx
Labels: front

#176 feat: report status "in_review" 일때만 가능하게 수정
  backend/reports/views.py
Labels: backend

#188 feat: 상세 주소 추가
  backend/places/migrations/0007_auto_20210809_2328.py
  backend/places/migrations/0008_auto_20210809_2337.py
  backend/places/models.py
Labels: backend

#195 feat: 플레이스 bookmark_view 추가 및 증가, 감소 로직 추가
  .isort.cfg
  backend/action_trackings/models.py
  backend/action_trackings/signals.py
  backend/bookmarks/models.py
  backend/bookmarks/serializers.py
  backend/bookmarks/views.py
  backend/places/migrations/0007_place_bookmark_count.py
  backend/places/models.py
  backend/places/serializers.py
Labels: backend

#205 feat: bookmark 모델 unique
  backend/bookmarks/views.py
Labels: backend

#209 feat: place detail 구현
  frontend/package.json
  frontend/src/components/Review/Review.js
  frontend/src/layouts/desktop.layout.js
  frontend/src/layouts/mobile.layout.js
  frontend/src/pages/Place/placeDetail.page.jsx
  frontend/yarn.lock
Labels: front

#216 feat: 내가 제보한 목록 구현, 제보 삭제기능 구현
  frontend/src/components/Report/NewReportModal.js
  frontend/src/components/Report/reportCard.jsx
  frontend/src/components/Review/Review.js
  frontend/src/pages/Report/reportList.page.jsx
  frontend/src/reducers/report.js
  frontend/src/sagas/report.js
Labels: front

#220 feat: 내 리뷰 페이지 구현
  frontend/src/App.js
  frontend/src/components/Bookmark/bookmarkCard.jsx
  frontend/src/components/Place/PlaceCard.jsx
  frontend/src/components/Report/reportCard.jsx
  frontend/src/components/Review/Review.js
  frontend/src/components/Review/ReviewCard.js
  frontend/src/layouts/desktop.layout.js
  frontend/src/layouts/mobile.layout.js
  frontend/src/pages/Review/reviewList.page.jsx
  frontend/src/pages/index.js
  frontend/src/reducers/review.js
  frontend/src/sagas/review.js
Labels: front
